<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Coach GPT - Details</title>
  </head>
  <body>
    <section id="Home">
      <div>
        <h1>Health Coach GPT</h1>

        <form action="/Details" method="post">
          <h3>Provide your details below.</h3>

          <p>
            <input
              type="text"
              name="First_name"
              class="inpt"
              placeholder="First Name"
              required
            />
            <input
              type="text"
              name="Last_name"
              class="inpt"
              placeholder="Last Name"
              required
            />
            <br />
          </p>

          <input
            type="text"
            name="Age"
            class="inpt"
            placeholder="Age"
            required
          />
          <input
            type="text"
            name="Gender"
            class="inpt"
            placeholder="Gender"
            required
          />

          <br /><br />
          <input
            type="text"
            name="Height"
            placeholder="Height"
            class="inpt"
            required
          />
          <input
            type="text"
            name="Weight"
            placeholder="Weight"
            class="inpt"
            required
          />
          <br /><br />
          <input
            type="text"
            name="Conditions"
            placeholder="Health Conditions"
            class="inpt"
            required
          />
          <input
            type="text"
            name="FoodAllergies"
            placeholder="Food Allergies"
            class="inpt"
            required
          /><br /><br />
          <input
            type="text"
            name="Goals"
            placeholder="Goals"
            class="inpt"
            required
          />
          <input
            type="text"
            name="Wdays"
            placeholder="no. of Workout days"
            class="inpt"
            required
          /><br /><br />
          <input
            type="text"
            name="Preference"
            placeholder="Diet Preference"
            class="inpt"
            required
          />
          <input
            type="text"
            name="Meals"
            placeholder="No. of Meals per day"
            class="inpt"
            required
          />
          <br /><br />
          <input
            type="text"
            name="Snacks"
            placeholder="No. of Snacks per day"
            class="inpt"
            required
          />
          <input
            type="text"
            name="Dislike"
            placeholder="Dislike to eat"
            class="inpt"
            required
          />
          <br /><br />
          <button type="submit" class="action_btn">Submit</button>
          <br /><br />
        </form>
      </div>
    </section>
  </body>
</html>
